.env
*.avm
*.prover
*.verifier
outputs/
*.Identifier
outputs/
*ledger*
*cache*
.logs-*/
build/
*records*
*node_modules*

leo/test_limitorder_v14/
leo/test_liquidity_v13/
leo/v12_full_priv/
leo/v12_full_priv_usdcx/
leo/v12_private/
test_transfer/
voice/

# Old
*OLD*
*V9*

# Python
venv/
.env
__pycache__/
voice/venv/
voice/lib/
lib/